/* CSS Login */
.container-fluid {
    margin: 0;
    padding: 0;
    background-color: #000000;
    height: 100vh;
}
/* *************** */
/* #titre{
    color: #001858;
} */
#login{
    margin-top: 85px;
    background-color: rgb(255, 255, 255);
}

.navba-header{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;

} 

#form{
    padding: 20px;
}
#butt{
    background-color: rgb(0, 0, 0);
    color: rgb(253, 253, 253);
}
#butt:hover{
    background-color: rgb(253, 253, 253);
    color: rgb(0, 0, 0);
}
.form small{
    position: absolute;
    margin: 3px;
    visibility: hidden;
}
.cd-title{
    background-color: #f3d2c1;
    color: #001858;
    padding: 0 2%;
}
.cd-bd{
    padding: 0 !important;
}
.rd-20{
    border-radius: 20px !important;
}
.ov-hidden{
    overflow: hidden !important;
}
.cd-grp{
    background-color: #fef6e4;
}
.cd-shadow:hover{
    box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.26);
}
.titre{
    font-size: 40px;
}

/****************CSS Test****************/
#titre1{
    font-size: 50px;
    font-family:cursive;
}


/* #titre1:hover{
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(189, 99, 26);
}*/
.content {
    position: fixed;
    bottom: 0;
    width: 87%;
    padding: 18%;
}  


  
